<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="list-group">
        <span class="list-group-item active">
            Leaderboard <span class="pull-right"> <i class="fa fa-trophy"></i></span>
        </span>
        <% for(var i=0; i<players.length; i++) {%>
            <div class="list-group-item">
                <i class="fa fa-user"></i> 
                <%= players[i].pseudo %> 
                <span class="badge"><%= players[i].score %></span>
            </div>
        <% } %>
    </div>
</div>