<% include ../pages/partials/head %>
<% include ../pages/partials/leftmenu %>

<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="jumbotron">
					<h1>Hey Caron !</h1>
					<br/>
					<p class="text-justify">Tu veux tester ta culture générale ? Répond à un maximum de question et obtiens un score ! Dès que tu te trompes, c'est gameover.</p>
					<br/>
					<p class="text-center">
						<form action="/game" method="POST" class="text-center">
						<button class="btn btn-primary btn-lg" type="submit">
							Commencer <i class="fa fa-hand-o-up" aria-hidden="true"></i>
						</button>
						</form>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../pages/partials/footer %>
