<% include ../pages/partials/head %>

<div id="page-content-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<div class="jumbotron">
					<h1>Heil !</h1>
					<p>Répond à un maximum de question ! <%= questions.length %> au total</p>
					<p class="text-center">
						<a class="btn btn-primary btn-lg" href="/game" role="button">
							Commencer <i class="fa fa-hand-o-up" aria-hidden="true"></i>
						</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../pages/partials/footer %>